body {
    background-color: white;}

 .menu-nav{
    display: inline-block;
    background:teal;
    color:white;
    padding:10px 10px;
    line-height: 40px;
    text-decoration: none;
    text-align:center ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
 }
 a.focus{
    background-color:white;
    color:teal;
    
 }
 .thead-dark{
     background-color: teal;
 }
 div.descripcion{
    background-color: white;
    padding-top: 10px;
    border-bottom: solid;
    padding-bottom: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
 }
 .menu-nav:hover{
    background:white;
    color: teal;
    text-decoration: none;
 }
 nav.logo{
   color:white;
   font-size: 20px;
   line-height: 60px;
   padding-left: 20px;
   width: 100%;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
 }
 nav.menu{
    background: teal;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid;
 }
 a.menu-boton{
    background: white;
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    display: none;
    text-align: center;
 }
 .menu-boton:hover{
    background: teal;
    color: white;
    
 }
 footer{
    height: auto;
    margin-top: 35px;
    width: 100%;
    color:white;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 2px;
    padding-top: 10px; 
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    background-color: teal;
    
   
 }
 .col{
     background-color: white;
     border: solid;
 }
 .banner-area, .con-area, .modi-area, .rec-area{
    padding-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

}
.div-part{
    width: 100%;
    height: auto;
}
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.buscar{
    padding-top: 20px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

 @media(max-width: 700px) {
    nav{
        flex-direction: column;
    }
    .buscar{
        padding-left: 20px;
        padding-right: 20px;
    }
    nav.logo{
        padding-left: 40%;
    }
    .menu-nav{
        margin:10px 0px;
        
    }
    a.menu-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
  
 }
 @media(max-width: 600px){
     .table{
         font-size: 7px;
     }
     footer{
         font-size: 8px;
     }
     div.descripcion{
         font-size: 10px;
     }
     
 }
 @media(max-width: 400px) {
    nav.logo{
        padding-left: 30%;
    }
    p{
       margin-left: 10px;
       margin-right: 10px;
       
    }
 }