body {
    background-color: white;}

 .menu-nav{
    display: inline-block;
    background:white;
    color: black;
    padding:10px 10px;
    line-height: 40px;
    text-decoration: none;
    text-align:center ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
 }
 .focus{
    background-color:teal;
    color: white;
    
 }
 div.historial{
    background-color: white;
    padding-top: 10px;
    border-bottom: solid;
    padding-bottom: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
 }
 .formulario{
     padding: 100px 100px;
 }
 .menu-nav:hover{
    background: teal;
    color: white;
    text-decoration: none;
 }
 nav.logo{
   color:teal;
   font-size: 20px;
   line-height: 60px;
   padding-left: 20px;
   width: 100%;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
 }
 nav.menu{
    background: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid;
 }
 a.menu-boton{
    background: white;
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    display: none;
    text-align: center;
 }
 .menu-boton:hover{
    background: teal;
    color: white;
    
 }
 footer{
    height: auto;
    margin-top: 35px;
    width: 100%;
    color:white;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 2px;
    padding-top: 10px; 
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    background-color: teal;
    
   
 }
 @media(max-width: 700px) {
    nav{
        flex-direction: column;
    }
    nav.logo{
        padding-left: 40%;
    }
    .menu-nav{
        margin:10px 0px;
        
    }
    a.menu-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
    .formulario{
        padding: 50px 50px;
    }
 }
 @media(max-width: 600px){
     
     footer{
         font-size: 8px;
     }
 }
 @media(max-width: 400px) {
    nav.logo{
        padding-left: 30%;
    }
    
 }