.menu-nav{
    display: inline-block;
    background:white;
    color:teal;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: flex-end;
}
.menu-nav:hover{
    background: teal;
    color: white;
}
nav.logo{
    color:teal;
    font-size: 20px;
    width: 100%;
    padding: 10px 10px;
    height: auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
nav.menu{
    background: white;
    padding: 10px;
    display: flex;
    border-bottom: solid;
}
.menu-boton{
    background:teal;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    display: none;
    text-align: center;
}
.menu-boton:hover{
    background:white;
    color: teal;
    
}
.div1{
    padding-top: 50px;
    text-align: center;
    
    
}
img.fondo{
    width: 100%;
    height: auto;
    opacity: 0.4;
    max-width: 100%;
}
div.descripcion{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
    color:black;
    
    background-color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 p{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    
 }
 nav.nav-img{
    background-color: rgba(0, 100, 92, 0.5);
 }
 img.descripcion{
    width: 50%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 0px;
    
 }

nav nav a{
    display: none;
    text-decoration: none;
}

nav nav a:hover {
    display: block;

}
    
footer{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    color: white;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    background-color: teal;
}

.tabla-padre{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.columna{
    background: rgba(0, 128, 128, 0.5);
    color: white;
    border-top: solid black;
    margin: 0 auto;
    width: 32%; 
    box-sizing: border-box;
 }
.columna:hover{
    background-color: white;
    color:black;
 }
.p-columna{
    
    font-size: 20px;
    padding: 0;
    margin: 10px;
}
@media(max-width: 1250px) {
    .menu-nav{
        font-size: 12px;
        
    }
    .columna{
        width: 40%;
        margin-bottom: 20px;
    }
 }

@media(max-width: 700px) {
    .menu-nav{
        font-size: 12px;
        
    }
    .columna{
        width: 60%;
        margin-bottom: 20px;

    }
    .p-columna{
        font-size: 12px;
    }
    div.descripcion{
        font-size: 10px;
    }



 }
@media(max-width: 550px) {
    nav{
        flex-direction: column;
    }
    .menu-nav{
        margin:10px 0px;
        width: 100%;
        padding:10px 0;
        
    }
    
    .menu-boton{
        display: inline-block;
    }

    .desaparece{
        display: none;
    }
    footer{
        font-size: 15px;
    }
  
}
