@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background-size: cover;
} 
.main-section{
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}
.modal-content {
    background-color: slategray;
    opacity: 0.98;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484 ;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-img img {
    width: 100px;
    height: 100px;
    border-radius: 5px; 
    box-shadow: 0px 0px 2px #848484 ;
}
nav.menu{
    background: teal;
    display: flex;
    float: right;
    padding-top: 10px;
}
a.inicio:hover{
    background: mediumseagreen;
    color: white;
}
a.inicio{
    display: inline-block;
    background:white;
    color:teal;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: flex-end;
}
.form-group{
    margin-bottom: 25px;
}
.form-group input{
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    
}
button{
    width: 50%;
    margin: 5px 0 25px;
}

.btn {
    background-color: teal;
    color: white;
    border-radius: 5px;

} 
.btn:hover, .btn:focus{
    background-color:white;
    
}
.forgot{
    padding: 5px 0 25px;

}
.forgot a{
    color: #c2fbfe;
}
.cabecera{
    background: teal;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    
}
.cabe-div{
    width: 90%;
    max-width: 1180px;
    margin: auto;
    
}
.logo{
    
    color: white;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 70px;
    float: left;
}
.bienvenida{
    line-height: 70px;
    opacity: 100%;
    float: right;
    color:white;
    font-size: 80%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sign-in{
    padding: 5px 0 25px;
    
}
.sign-in a{
    color: #c2fbfe;
}
footer{
   
    
    height: auto;
    margin-top: 35px;
    color:white;
    width: 100%;
    background-color: teal;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}
@media(max-width: 400px){
    .bienvenida{
        font-size: 60%;
    }
    footer{
        font-size: 10px;
    }
    .logo{
        font-size: 40px;
    }
}