body{
    background:white;
    
 }
 .menu-nav{
    display: inline-block;
    background:white;
    color: black;
    padding:10px 10px;
    line-height: 40px;
    text-decoration: none;
    text-align:center ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
 }
 
 .menu-nav:hover{
    background: teal;
    color: white;
 }
 nav.logo{
   color:teal;
   
   font-size: 20px;
   line-height: 60px;
   padding-left: 20px;
   width: 100%;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
 }
 nav.menu{
    background: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid;
 }
 nav.nav-img{
   
       background: -webkit-gradient(linear, left top, right top, from(mediumpurple), to(lightsalmon));
       background: -webkit-linear-gradient(left, mediumpurple, lightsalmon);
       background: -o-linear-gradient(left, mediumpurple, lightsalmon);
       background: linear-gradient(to right, mediumpurple, lightsalmon); 
   
 }
 a.menu-boton{
    background: white;
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    display: none;
    text-align: center;
 }
 .menu-boton:hover{
    background: teal;
    color: white;
    
 }
 .div1{
    text-align: center;
    
 }
 img.fondo{
    width: 100%;
    height: auto;
    opacity: 0.4;
    max-width: 100%;
 }
 div.descripcion{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
    color:black;
    
    background-color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 p{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    
 }
 img.descripcion{
    width: 60%;
    height: auto;
    padding-top: 25px;
 }
 
 footer{
    height: auto;
    margin-top: 35px;
    width: 100%;
    color:white;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    background-color: teal;
 }
 form.formulario{
    padding-top: 50px;
    padding-left: 170px;
    padding-right: 170px;
 }
 @media(max-width: 800px) {
   form.formulario{
      padding-left: 10px;
      padding-right: 10px;
   }
}
 @media(max-width: 750px){
    p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
     }
 }
 @media(max-width: 650px) {
    nav{
        flex-direction: column;
    }
    nav.logo{
        padding-left: 40%;
    }
    .menu-nav{
        margin:10px 0px;
        width: 100%;
        
    }
    a.menu-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
    p{
       margin-left: 50px;
       margin-right: 50px;
       font-size: 14px;
    }
    footer{
        font-size: 12px;
    }
    
  
 }
 @media(max-width: 400px) {
    nav.logo{
        padding-left: 30%;
    }
    p{
       margin-left: 10px;
       margin-right: 10px;
       
    }
    div.descripcion{
       font-size: 20px;
    }
 }
 