body{
    background:white;
    
 }
 a.focus{
    background-color:white;
    color: teal;
    
 }
 .menu-nav{
    display: inline-block;
    background:teal;
    color: white;
    padding:10px 10px;
    line-height: 40px;
    text-decoration: none;
    text-align:center ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10%;
 }
 img{
     width: 200%;
     
 }
 .menu-nav:hover{
    background: white;
    color:teal;
    text-decoration: none;
 }
 nav.logo{
   color:white;
   font-size: 20px;
   line-height: 60px;
   padding-left: 20px;
   width: 100%;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
 }
 nav.menu{
    background:teal;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid;
 }

 a.menu-boton{
    background: white;
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    display: none;
    text-align: center;
 }
 .menu-boton:hover{
    background: teal;
    color: white;
    
 }
 
 div.perfil{
    background-color: white;
    padding-top: 10px;
    border-bottom: solid;
    padding-bottom: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
 }
 
 footer{
    height: auto;
    margin-top: 35px;
    width: 100%;
    color:white;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    background-color: teal;
 }
 
 .formulario{
    padding: 100px 200px;
}
@media(max-width: 800px){
    img{
        width: 60%;
        
    }
    .formulario{
        padding: 100px 100px;
    }
}
 @media(max-width: 650px) {
    nav{
        flex-direction: column;
    }
    nav.logo{
        padding-left: 40%;
    }
    .menu-nav{
        margin:10px 0px;
        width: 100%;
        
    }
    img{
        width: 60%;
        
    }
    a.menu-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
    .formulario{
        padding: 30px 30px;
    }
    footer{
        font-size: 10px;
    }
    
  
 }
 @media(max-width: 400px) {
    nav.logo{
        padding-left: 30%;
    }

 }
 