body{
    background:white;
    
 }
 .menu-nav{
    display: inline-block;
    background:white;
    color: black;
    padding:10px 10px;
    line-height: 40px;
    width: 300px;
    text-decoration: none;
    text-align:center ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
 }
 a.menu-boton{
    background: white;
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    display: none;
    text-align: center;
 }
 .menu-boton:hover{
    background: teal;
    color: white;
    
 }
 .menu-nav:hover{
    background: teal;
    color: white;
    text-decoration: none;
 }
 div.descripcion{
   text-align: justify;
   font-family: 'Times New Roman', Times, serif;
   width: 100%;
   height: auto;
   color:black;
   padding: 50px 300px;
   background-color: white;
   font-size: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
   margin-top: 30px;
   margin-left: 100px;
   margin-right: 100px;
   
}
 nav.logo{
   color:teal;
   font-size: 20px;
   line-height: 60px;
   padding-left: 20px;
   width: 100%;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
 }
 nav.menu{
    background: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid;
 }
 
footer{
    height: auto;
    margin-top: 35px;
    width: 100%;
    color:white;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    background-color: teal;
 }
 .formulario{
    padding: 50px 300px;
 }
 .tabla-padre{
   display: flex;
   flex-wrap: wrap;
}
.text-center{
   text-align: center;
}
.columna{
   background: rgba(0, 128, 128, 0.5);
   color: white;
   border-top: solid black;
   margin: 0 auto;
   width: 32%; 
   box-sizing: border-box;
}
.p-columna{
   
   font-size: 20px;
   padding: 0;
   margin: 10px;
}
@media(max-width: 1250px) {
   .menu-nav{
       font-size: 12px;
       
   }
   .columna{
       width: 40%;
       margin-bottom: 20px;
   }
   .formulario{
      padding: 50px 50px;
   }
   div.descripcion{
      padding: 50px 10px
   }
  
}
 @media(max-width: 650px) {
    nav{
        flex-direction: column;
    }
    nav.logo{
        padding-left: 40%;
    }
    .menu-nav{
        margin:10px 0px;
        width: 100%;
        
    }
    a.menu-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
    .columna{
      width: 60%;
      margin-bottom: 20px;

      }
      .p-columna{
            font-size: 12px;
      }
      div.descripcion{
            font-size: 10px;
            width: 100%;
           
      }


  
 }
 .columna:hover{
    background-color: white;
    color:black;
 }
 @media(max-width: 400px) {
    nav.logo{
        padding-left: 30%;
    }
    footer{
       font-size: 8px;
    }
 }