.menu-nav{
    display: inline-block;
    background:teal;
    color: white;
    padding: 10px 10px;
    line-height: 40px;
    text-decoration: none;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
 
 }
 .menu-nav:hover{
    background: white;
    color: teal;
    text-decoration: none;
 }
 nav.logo{
   color: white;
   font-size: 20px;
   line-height: 60px;
   padding-left: 20px;
   width: 100%;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
 }
 nav.menu{
    background: teal;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
 }
 a.menu-boton{
   
    padding: 10px 0px;
    text-decoration: none;
    display: none;
    text-align: center;
 }
 .menu-boton:hover{
    background: teal;
    color: white;
    
  
 }
 
 .div1{
    padding-top: 50px;
    text-align: left;
    
    
 }
 img.fondo{
    width: 100%;
    height: auto;
    opacity: 0.4;
    max-width: 100%;
 }
 .descripcion{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255, 0.8);
    font-size: 30px;
 }
.focus{
   background-color: white;
   color: teal;
   
}

 footer{
    height: auto;
    margin-top: 35px;
    color:white;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   display: inline-block;
   background-color: teal;
 }
 form.formulario{
    padding-top: 50px;
    padding-left: 170px;
    padding-right: 170px;
 }
 @media(max-width: 800px) {
   form.formulario{
      padding-left: 10px;
      padding-right: 10px;
   }
}
 @media(max-width: 650px) {
    nav{
        flex-direction: column;
    }
    nav.logo{
        padding-left: 40%;
    }
    .menu-nav{
        margin:10px 0px;
        text-decoration: none;
        
    }
    form.formulario{
    
      padding-left: 50px;
      padding-right: 50px;
   }
    a.menu-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
  
 }
 @media(max-width: 400px) {
    nav.logo{
        padding-left: 30%;
    }
 }
 